.collections-overview {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .collection-item {
      width: 48vw;
      margin: 0px;
      padding: 15px;
    }
}