.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    .title {
        margin: 10px 0px;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {
    .sign-in {
        width: 100%;
        .buttons {
            flex-wrap: wrap;
        }
    }
}